<nav class="navbar navbar-expand-md navbar-light bg-primary">
    <div class="container-fluid">

        <div class="me-auto order-0">
            <h1 class="navbar-brand me-auto" style = "color:aliceblue;">Workshop-Dev</h1>
            
        </div>

        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a style = "color:aliceblue;" class="nav-link" href="#">Member</a>
                </li>
                <li class="nav-item">
                    <a style = "color:aliceblue;" class="nav-link" href="#">Presence</a>
                </li>
            </ul>
        </div>

    </div>
    
</nav>
<div class="slider-class">
    <h2>list</h2>
    {{this.users | json }}
</div>


